html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:    
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header{ */
    /* background-color: #ff914d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0px;
} */

header img { 
    width: 5vw;
    height: auto;
}

.topnav {
    overflow: hidden;
    background-color:rgba(190, 183, 183, 0.707);
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: rgba(51, 51, 51, 0.755);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
 
.topnav a.icon {
    background: rgba(190, 183, 183, 0.707);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
#myLinks a:hover {
    background-color: #ff914daf;
    color:white;
}
  
.quem-somos {
    background-image: url("imagens/banco_bg.jpg");
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.quero-ser { 
    position: fixed;
    text-align: center;
    width: 100vw;
    bottom: 0;    
    background-color: #ff914d;
}

.quero-ser h2{
    text-align: center;
}

/* Só a disposição dos links+ícones no footer  */
footer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    background-color: brown;
}
